*~
*.iml
*.log
*.sw?
*.swp
target
.DS_Store
.cljs_rhino_repl
.idea
.calva
.nrepl*
.nrepl-port
.repl
checkouts
compiled
datahub.log*
node_modules
out
resources/public/js/main
resources/public/js/test
*.class
.cpcache/
.shadow-cljs
.clj-kondo/
.idea
log.txt
yarn.lock
.lsp/
resources/public/css/main.css