body {
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #f7f7f7;
}

h1 {
  font-size: 34px;
}

header h1 {
  line-height: 1.45em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

h1 b {
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

h2 {
  margin: 5px, 0;
  font-weight: 300;
  font-size: 18px;
}

h3 {
  margin: 10px, 0;
}

p a {
  color: #0D658C;
}

body {
  margin: 0;
}

.l--body {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1180px) {

  .l--page {
    width: 1100px;
  }

}

@media (min-width: 1400px) {

  .l--page {
    width: 1220px;
  }

}

#main-part .mdl-button:hover {
  background-color: rgba(158,158,158,.3);
}

#main-part .mdl-button:focus:not(:active) {
  background-color: rgba(158,158,158,.4);
}

#main-part .mdl-button:active {
  background-color: rgba(158,158,158,.5);
}

#main-part .mdl-button .material-icons {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.button {
  width: 24px;
  justify-content: center;
  height: 24px;
  margin: 0, 1px;
  border: none;
  align-items: center;
  padding: 0;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  background-color: rgba(0,0,0,0.05);
  border-radius: 50%;
  display: -webkit-box -moz-box -ms-flexbox -webkit-flex flex;
  -webkit-justify-content: center;
  transition: background-color 0.3s, color 0.3s;
  color: #666;
}

.button:hover {
  background-color: rgba(0,0,0,0.1);
}

.button:active {
  background-color: rgba(0,0,0,0.15);
  color: #333;
}

.button i {
  font-size: 16px;
}

.hide-button {
  border-bottom: 1px, solid, #2c2c2c;
  right: 0px;
  border-left: 1px, solid, #2c2c2c;
  padding: 6px, 4px, 8px, 4px;
  position: fixed;
  cursor: pointer;
  font: 11px, 'Lucida Grande', sans-serif;
  display: table;
  background: #1a1a1a;
  color: #eee;
}